.headliner-outter {
	position: absolute;
	height: 350px;
	top: 50.1px;
	left: 240.5px;
	z-index: -6;
	width: 1679.5px;
	background-color: rgb(25, 6, 7);
}
.headliner-container {
	display: block;
	background-color: rgb(25, 6, 7);
	height: 100%;
	z-index: -6;
	width: 100%;
	cursor: pointer;
}

.headliner-left {
	position: absolute;
	display: block;
	height: 350px;
	z-index: -5;
	width: 450px;
}
.headliner-right {
	position: absolute;
	display: block;
	height: 350px;
	width: 450px;
	z-index: 1;
	right: 385px;
}

/*HEADLINER CAROUSEL*/
.headliner-carousel {
	position: absolute;
	cursor: pointer;
	top: 70px;
	left: 370px;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1380px;
	height: 310px;
}

/*HEADLINER SVG*/
.headliner-svg-left-outter,
.headliner-svg-right-outter {
	background-color: rgb(14, 14, 16);
	position: absolute;
	border-radius: 6px;
	justify-content: center;
	align-items: center;
	padding: 5px;
	z-index: 3;
	cursor: pointer;
	height: 36px;
	width: 36px;
}

.headliner-svg-left-outter {
	left: 0;
}
.headliner-svg-right-outter {
	right: 0;
}

.headliner-left-svg,
.headliner-right-svg {
	position: absolute;
	z-index: 3;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	display: flex;
	height: inherit;
	width: inherit;
}

.headliner-left-span,
.headliner-right-span {
	position: relative;
	padding-bottom: 7.5px;
	padding-right: 10px;
}

.headliner-left-btn,
.headliner-right-btn {
	position: absolute;
	background: transparent;
	border: none;
	left: -5px;
	bottom: 5px;
	z-index: 3;
	outline: none;
	height: 36px;
	cursor: pointer;
	width: 36px;
}

.headliner-left-btn:hover,
.headliner-right-btn:hover {
	background-color: #f7f7f8;
	opacity: 0.15;
}

.headliner-left-btn:focus,
.headliner-right-btn:focus {
	-webkit-box-shadow: rgb(119, 44, 232) 0px 0px 6px 0px;
	-moz-box-shadow: rgb(119, 44, 232) 0px 0px 6px 0px;
	box-shadow: rgb(119, 44, 232) 0px 0px 6px 0px;
}

/*VIDEO PREVIEWS*/

.headliner-preview-container {
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 16px 0px,
		rgba(0, 0, 0, 0.4) 0px 0px 4px 0px;
	display: block;
	width: 650px;
	height: 250px;
	margin: 15px 0;
}
.headliner-preview {
	display: flex;
	flex-direction: row;
}
.headliner-preview-img {
	width: 650px;
	height: 250px;
	vertical-align: top;
}
/*VIDEOS*/
.headliner-main-videos {
	display: flex;
	flex-direction: row;
}
.video-previews-one {
	top: 10px;
	height: 100%;
	opacity: 0.6;
	position: absolute;
	width: 610px;
	transform: translateX(-690px) translateX(50%) scale(0.8);
	transition: all 450ms ease 0s;
	right: 0;
	bottom: 0;
	left: calc(50% - 265px);
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.05) !important;
}
.video-previews-two {
	top: 10px;
	height: 100%;
	position: absolute;
	opacity: 0.6;
	overflow: hidden;
	width: 610px;
	transform: translateX(95px) translateX(-50%) scale(0.8);
	transition: all 450ms ease 0s;
	bottom: 0;
	right: calc(50% - 550px);
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.05) !important;
}
.video-previews-three {
	top: 15px;
	opacity: 0.6;
	height: 100%;
	position: absolute;
	width: 750px;
	transform: translateX(-775px) translateX(50%) scale(0.85);
	transition: all 450ms ease 0s;
	right: 0;
	bottom: 0;
	left: calc(50% - 150px);
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.05) !important;
}
.video-previews-four {
	top: 13px;
	height: 300px;
	position: absolute;
	width: 590px;
	transform: translateX(575px) translateX(-50%) scale(0.85);
	transition: all 450ms ease 0s;
	left: 0;
	opacity: 0.6;
	bottom: 0;
	right: calc(50% - 550px);
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.05) !important;
}
.video-previews-five {
	top: 10px;
	background: rgb(0, 0, 0);
	height: 300px;
	position: absolute;
	width: 530px;
	transform: translateX(485px) translateX(-50%) scale(0.89);
	transition: all 450ms ease 0s;
	left: 0;
	z-index: 10;
	cursor: pointer;
	bottom: 0;
	right: 0;
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.05) !important;
}

/*REUSABLE LIVE BADGE*/
.live-indicator-container {
	cursor: pointer;
	color: #fff;
	display: block;
	position: absolute;
	left: 0 !important ;
	right: 0 !important ;
	font-family: Roobert, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 18px;
	height: 18px;
	width: 40px;
	z-index: 10;
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
	font-stretch: 100%;
	font-style: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
}
.live-indicator-div {
	background-color: rgb(233, 25, 22);
	color: #fff;
	display: inline-block;
	border-radius: 4px;
	font: inherit;
	padding: 0 5px;
	height: inherit;
	text-align: center;
	width: inherit;
	text-align: center;
}

.live-indicator {
	color: #fff;
	cursor: pointer;
	position: fixed;
	display: block;
	font-weight: bold;
	font-size: 13px !important;
	font-family: Roobert, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-top: -4px !important;
	margin-left: 1px;
	text-transform: uppercase;
	text-align: center;
	white-space: nowrap !important;
	line-height: 24px;
	z-index: auto;
}
/*VIDEO SVG*/
.large-play-arrow-div {
	position: absolute;
	left: 200px;
	top: 70px;
}
.small-play-arrow-div {
	position: absolute;
	height: 20px;
	width: 20px;
	bottom: 16px;
	left: 20px;
}
.sound-icon-div {
	position: absolute;
	bottom: 10px;
	left: 55px;
}

.settings-cogwheel {
	position: absolute;
	bottom: 7.5px;
	right: 95px;
}

.full-screen {
	position: absolute;
	right: 52px;
	height: 22.5px;
	width: 22.5px;
	bottom: 10px;
	fill: #fff;
}
