/*NAVBAR*/
.navbar-placeholder {
	position: relative;
	height: 50px;
}

.navbar {
	display: flex;
	overflow: hidden !important;
	position: fixed;
	height: 50px;
	z-index: 1000;
	width: 100vw;
	background-color: #f7f7f8;
	line-height: 18px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(163, 163, 163, 0.66);
	-moz-box-shadow: 0px 1px 5px 0px rgba(163, 163, 163, 0.66);
	box-shadow: 0px 1px 5px 0px rgba(163, 163, 163, 0.66);
}

.navbar-main {
	font-family: inherit;
	font-family: 'Roobert', 'Helvetica Neue', Arial, sans-serif;
	text-align: center;
	z-index: 10;
	align-items: center;
	white-space: nowrap;
	margin-left: 1.5rem;
	display: inherit;
	vertical-align: baseline;
	list-style: none;
	font-size: 18px;
	line-height: 1.5;
	flex-direction: row;
}

.navbar-item {
	font-family: inherit;
	color: #0e0e10;
	cursor: pointer;
	text-decoration: none;
	z-index: 2;
	margin: 0 1.3rem !important;
}

.navbar-item:hover {
	color: #772ce7 !important;
}

.active {
	color: #772ce8 !important;
	margin-top: 11px !important;
	padding-bottom: 0.65rem;
	border-bottom: 1.5px solid rgb(119, 44, 232);
}

/*BUTTONS*/

.login-button {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.1);
	margin-right: 0.95rem;
	margin-left: 0.5rem;
	align-items: center;
	text-decoration: none;
	display: inline-flex;
	user-select: none;
	font: inherit;
	font-size: 13.33px;
	white-space: nowrap;
	font-stretch: 100%;
	position: relative !important;
	border: none;
	height: 30px;
	outline: none;
	width: 57.36px;
	justify-content: center;
	line-height: 18px;
	word-spacing: 0px;
	overflow: hidden !important;
	vertical-align: middle;
	font-family: 'Roobert', 'Helvetica Neue', Arial, sans-serif;
	padding: 0 1.5rem;
	font-weight: 600;
	vertical-align: middle !important;
	text-shadow: none;
	-webkit-appearance: none;
	align-items: center;
}

.login-button-div {
	display: block;
	font-stretch: 100%;
	height: 18px;
	color: #0e0e10;
	width: 34.36px;
	writing-mode: horizontal-tb;
	cursor: pointer;
}
.signup-button {
	border-radius: 4px;
	word-spacing: 0px;
	cursor: pointer;
	align-items: center;
	text-align: start;
	justify-content: center;
	background-color: #9147ff;
	text-decoration: none;
	outline: none;
	display: inline-flex;
	user-select: none;
	font: inherit;
	font-size: 13.33px;
	white-space: nowrap;
	font-stretch: 100%;
	position: relative !important;
	border: none;
	height: 30px;
	width: 66px;
	justify-content: center;
	line-height: 18px;
	overflow: hidden !important;
	vertical-align: middle;
	font-family: 'Roobert', 'Helvetica Neue', Arial, sans-serif;
	padding: 0 2.5rem;
	font-weight: 600;
	vertical-align: middle !important;
	text-shadow: none;
	-webkit-appearance: none;
	margin-right: 15px;
	align-items: center;
}

.signup-button-div {
	display: block;
	font-stretch: 100%;
	height: 18px;
	color: #ffffff;
	width: 42.7969px;
	writing-mode: horizontal-tb;
}

.navbar-button-div {
	margin-top: 10px;
	display: block;
	margin-left: 68.9vw !important;
}
/*BUTTON AREA SVG*/

.navbar-prime-svg {
	width: 20px;
	height: 20px;
	margin-right: 0.8rem;
	margin-bottom: -6px;
	overflow: hidden;
	z-index: 11;
}

/*SVG DROPDOWN SECTION*/
.shadow-button {
	position: absolute;
	top: 2.5px;
	height: 30px;
	cursor: pointer;
	border-radius: 4px;
	width: 30px;
	left: 1px;
	outline: none;
	border: none;
	z-index: 9999;
	background: transparent;
	opacity: 1;
}
/*SVG*/
.svg-dropdown-div {
	position: absolute;
	top: 10px;
	left: 385px;
	cursor: pointer;
	z-index: 9999;
	border-radius: 4px;
}

.elipsis {
	height: 25px;
	width: 25px;
	cursor: pointer;
	z-index: 9999;
	overflow: hidden;
	padding-left: 6px;
	min-height: 100%;
}

.svg-dropdown {
	width: 30px;
	text-align: start;
	vertical-align: middle;
	z-index: 9999;
	outline: none;
	display: flex;
	background-color: rgba(0, 0, 0, 0);
	height: 30px;
	border-radius: 4px;
	cursor: pointer;
}

.shadow-button:focus,
.login-button:focus,
.signup-button:focus {
	-webkit-box-shadow: rgb(119, 44, 232) 0px 0px 6px 0px;
	-moz-box-shadow: rgb(119, 44, 232) 0px 0px 6px 0px;
	box-shadow: rgb(119, 44, 232) 0px 0px 6px 0px;
	z-index: 1;
}

.svg-dropdown-div:hover,
.svg-dropdown:hover {
	background-color: rgba(0, 0, 0, 0.1);
	transition: 0;
	cursor: pointer;
}

/*DROPDOWN*/
.dropdown-outter {
	max-height: 100%;
	height: 539px;
	position: absolute;
	z-index: 9999;
	top: 50px;
	left: 390px;
	border-radius: 6px;
	overflow: scroll;
	display: flex;
	-webkit-overflow-scrolling: touch;
}

.dropdown-container {
	border-radius: 6px;
	height: 539px;
	z-index: 999999 !important;
	background-color: #fff;
	display: none;
	overflow-y: scroll;
}

.showing {
	display: block;
	z-index: 9999 !important;
}

.dropdown {
	height: 539px;
	z-index: 9999 !important;
	padding: 15px 0;
	max-height: 550px;
	border-radius: 6px;
	background-color: #fff;
	width: 180px;
}
.dropdown-header {
	font-family: 'Roobert', 'Helvetica Neue', Arial, sans-serif;
	margin-top: -12.5px;
	padding: 7.5px;
	font-size: 16px;
	z-index: 9999;
	font-weight: 600;
	text-transform: uppercase;
	color: #53535f;
}

.dropdown-item {
	height: 18px;
	width: 170px;
	z-index: 9999;
	line-height: 18px;
	text-size-adjust: 100%;
	margin: 0.75rem 0.5rem;
}

.dropdown-item:hover {
	background-color: lightgray;
}

.dropdown-item-a {
	color: rgb(14, 14, 16);
	color: inherit;
	font-family: 'Roobert', 'Helvetica Neue', Arial, sans-serif;
	text-decoration: none;
	text-size-adjust: 100%;
	line-height: 18px;
	vertical-align: baseline;
	font-size: 13px;
	z-index: 9999;
	padding: 1rem 0.5rem;
	font-weight: 400;
}

.border {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	display: block;
	margin: 1rem 0.05rem;
}

/*DROPDOWN SCROLLBAR*/
.dropdown-container:hover.dropdown-container::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.68);
	transition: 0.25s;
	height: 95%;
	border-radius: 6px;
}

.dropdown-container::-webkit-scrollbar {
	background-color: transparent;
	border-color: rgb(14, 14, 16);
	border-radius: 4px;
	-webkit-overflow-scrolling: touch;
	width: 7.5px;
	visibility: visible;
	will-change: opacity;
	z-index: 1;
	outline: 1px solid slategrey;
}
.dropdown-container::-webkit-scrollbar-track {
	background-color: #fff;
	-webkit-overflow-scrolling: touch;
	border-radius: 6px;
}
/*NAVBAR SEARCH*/

.navbar-searchbox-inner {
	display: flex;
	position: absolute;
	top: 7.5px;
	left: 550px;
	height: 36px;
}
.navbar-searchbox-svg-div {
	opacity: 0.68;
}
.navbar-searchbox-input {
	line-height: 21px;
	-webkit-appearance: none;
	color: rgb(0, 0, 0);
	outline: none;
	border-color: rgb(145, 71, 255);
	transition-delay: 0s, 0s, 0s;
	transition: box-shadow 0.1s ease-in, border 0.1s ease-in,
		background-color 0.1s ease-in;
	transition-duration: 0.1s, 0.1s, 0.1s;
	transition-timing-function: ease-in, ease-in, ease-in;
	border-top-left-radius: 6px !important;
	border-bottom-left-radius: 6px !important;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	font-family: Roobert, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: rgb(239, 239, 241);
	padding: 0.5rem 1rem;
	width: 300px;
	display: block !important;
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	-webkit-rtl-ordering: logical;
	border-bottom-width: 0.2px;
	outline: none;
	border-style: inset;
	border-color: initial;
	border-image: initial;
	background-clip: padding-box;
	border-bottom-width: 2px;
	cursor: text;
	font-size: 16px;
	text-align: start;
}
.navbar-searchbox-input:focus {
	outline-offset: -2px;
	border-color: #9147ff;
}

.navbar-searchbox-btn {
	cursor: not-allowed;
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
	outline: none;
	opacity: 0.5;
	padding: 1px 5px;
	text-decoration: none;
	font-weight: 600;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background: 0 0;
	font: inherit;
	text-align: inherit;
	background-color: rgba(255, 255, 255, 0.15);
}
