/*BORDER*/
.separator-div {
	height: 40px;
	display: flex;
	position: relative;
	text-align: center;
	padding-top: 1rem;
	width: 891.8px;
	margin-top: 700px;
}
.show-more-line-left {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	height: inherit;
	position: absolute;
	width: 655px !important;
	left: 295px;
	padding: 1.5rem 0;
	top: 81.4%;
}
.show-more-line-right {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	z-index: 15;
	height: inherit;
	position: absolute;
	width: 690px !important;
	right: 80px;
	padding: 1.5rem 0;
	top: 81.4%;
}
.show-more-line-left-two {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	height: inherit;
	position: absolute;
	width: 655px !important;
	left: 295px;
	padding: 1.5rem 0;
	top: 119vh;
}
.show-more-line-right-two {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	z-index: 15;
	height: inherit;
	position: absolute;
	width: 690px !important;
	right: 80px;
	padding: 1.5rem 0;
	top: 119vh;
}
.show-more-line-left-three {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	height: inherit;
	position: absolute;
	width: 655px !important;
	left: 295px;
	padding: 1.5rem 0;
	top: 155.66vh;
}
.show-more-line-left-four {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	height: inherit;
	position: absolute;
	width: 655px !important;
	left: 295px;
	padding: 1.5rem 0;
	top: 192vh;
}
.show-more-line-right-three {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	z-index: 15;
	height: inherit;
	position: absolute;
	width: 690px !important;
	right: 80px;
	padding: 1.5rem 0;
	top: 155.6vh;
}
.show-more-line-right-four {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	z-index: 15;
	height: inherit;
	position: absolute;
	width: 690px !important;
	right: 80px;
	padding: 1.5rem 0;
	top: 192vh;
}

.border {
	width: 1200px;
	height: 30px;
	border: none;
	text-align: center;
}
/*BUTTON*/
.border-button-div {
	position: absolute;
	top: 79.8%;
	cursor: pointer;
	left: 975px;
	width: 128.8px;
	cursor: pointer;
	height: 40px;
}
.border-button-div-two {
	position: absolute;
	top: 117.3vh;
	cursor: pointer;
	left: 975px;
	width: 128.8px;
	cursor: pointer;
	height: 40px;
}
.border-button-div-three {
	position: absolute;
	top: 154.1vh;
	cursor: pointer;
	left: 975px;
	width: 128.8px;
	cursor: pointer;
	height: 40px;
}
.border-button-div-four {
	position: absolute;
	top: 190vh;
	cursor: pointer;
	left: 975px;
	width: 128.8px;
	cursor: pointer;
	height: 40px;
}

.show-more-btn {
	overflow: hidden;
	outline: none;
	white-space: nowrap;
	display: inline-flex;
	border-radius: 4px;
	background-color: transparent;
	border: none;
	width: 140px;
	height: 33px;
	cursor: pointer;
	padding-bottom: 0.5rem;
	padding-right: 2.5rem;
}

.show-more-btn:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.show-more-btn-text {
	font-family: 'Roobert', 'Helvetica Neue', Arial, sans-serif;
	color: #a970ff;
	font-stretch: 100%;
	cursor: pointer;
	line-height: 18px;
	height: 17.6px;
	text-decoration-style: solid;
	text-align: center;
	font-size: 16px;
	writing-mode: horizontal-tb;
	text-rendering: auto;
	font-weight: 600;
	padding: 0.05rem 1.6rem;
}

.down-arrow-svg {
	z-index: 5;
	position: absolute;
	top: 7%;
	left: 85%;
}
