@font-face {
	font-family: 'Helvetica Neue';
	font-style: normal;
	font-weight: normal;
	src: local('../src/assets/fonts/HelveticaNeueBold.woff'),
		url('../src/assets/fonts/HelveticaNeueBold.woff') format('woff');
}

@font-face {
	font-family: 'Helvetica Neue Medium';
	font-style: normal;
	font-weight: normal;
	src: local('../src/assets/fonts/Helvetica65Medium_22443.woff'),
		url('../src/assets/fonts/Helvetica65Medium_22443.woff') format('woff');
}
@font-face {
	font-family: 'Roobert';
	font-style: normal;
	font-weight: normal;
	src: local('../src/assets/fonts/ROOBERT-MEDIUM.OTF'),
		url('../src/assets/fonts/ROOBERT-MEDIUM.OTF') format('otf');
}
@font-face {
	font-family: 'Roobert Regular';
	font-style: normal;
	font-weight: normal;
	src: local('../src/assets/fonts/ROOBERT-REGULAR.OTF'),
		url('../src/assets/fonts/ROOBERT-REGULAR.OTF') format('otf');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	font-size: 12px;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	position: relative;
	scroll-behavior: smooth;
	overflow-y: hidden;
	overflow-x: hidden !important;
	font-family: 'Roobert', 'Helvetica Neue', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-stretch: 100%;
	font-style: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
}

body,
h4,
h5,
h6,
html,
p {
	line-height: 1.5;
}

body {
	background-color: #f7f7f8;
	color: #0e0e10;
	font-family: 'Roobert', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 400;
	font-stretch: 100%;
	font-variant-caps: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-variant-east-asian: normal;
}

ol,
ul {
	list-style: none;
}
